*.c~
*.pdf
*.c.un~
*.wmv
*.html
*.css
*.js
*.png
*.jpeg
*.jpg
*.java
*.py
*.cs
*.txt
*.odt
*.mp3
*.mp4
*.gif
*.mov
*.asm
*.sci
*.tex
*.exe
*.gz
*.zip
*.out
*.o
*.sl
*.c.swp
*.h.swp
*.odg
*.txt.swp

cozette-otb/
